#home .box_game{background:url(../images/bg_capa.jpg) no-repeat;}
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-ms-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-moz-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
#home .animate_area { 
	width: 900px;
	height: 210px;
	position: absolute;
	margin-top: 195px;
	background-image: url(../images/bg_animado_capa.jpg);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 15s linear infinite;
	-ms-animation: animatedBackground 15s linear infinite;
	-moz-animation: animatedBackground 15s linear infinite;
	-webkit-animation: animatedBackground 15s linear infinite;
}
#home .logo{position: absolute; width: 368px; height: 389px; top:50%; left:50%; margin: -194px 0 0 -184px;}
#home .bt_jogar{position: absolute; width: 157px; height: 58px; background: url(../images/bt_jogar_capa.png) no-repeat; margin: 30px;}
#home .bt_jogar:hover{background: url(../images/bt_jogar_capa_hover.png) no-repeat;}