#home .box_game{background:url(../images/bg_capa.jpg) no-repeat;}
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-ms-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-moz-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
#home .animate_area { 
	width: 900px;
	height: 210px;
	position: absolute;
	margin-top: 195px;
	background: url(../images/bg_animado_capa.jpg);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 15s linear infinite;
	-ms-animation: animatedBackground 15s linear infinite;
	-moz-animation: animatedBackground 15s linear infinite;
	-webkit-animation: animatedBackground 15s linear infinite;
}
#home .logo{position: absolute; width: 368px; height: 389px; top:50%; left:50%; margin: -194px 0 0 -184px;}
#home .bt_jogar{position: absolute; width: 157px; height: 58px; background: url(../images/bt_jogar_capa.png) no-repeat; margin: 30px;}
#home .bt_jogar:hover{background: url(../images/bt_jogar_capa_hover.png) no-repeat;}



#personagem .box_game{background:url(../images/bg_capa.jpg) no-repeat;}
#personagem .animate_area{
	width: 900px;
	height: 210px;
	position: absolute;
	margin-top: 195px;
	background: url(../images/bg_animado_personagem.jpg);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 15s linear infinite;
	-ms-animation: animatedBackground 15s linear infinite;
	-moz-animation: animatedBackground 15s linear infinite;
	-webkit-animation: animatedBackground 15s linear infinite;
}
#personagem .escolha_ajudante{background: url(../images/escolha_seu_ajudante.png) no-repeat; width: 410px; height: 68px; position: absolute; left:50%; margin: 100px 0 0 -205px;}
#personagem .bt_menina{background: url(../images/menina_bw.jpg) no-repeat; width: 170px; height: 183px; position: absolute; top:50%; left:50%; margin: -95px 0 0 -243px;}
#personagem .bt_menina:hover, #personagem .bt_menina.selecionado{background: url(../images/menina.jpg) no-repeat;}
#personagem .bt_menino{background: url(../images/menino_bw.jpg) no-repeat; width: 170px; height: 183px; position: absolute; top:50%; left:50%; margin: -95px 0 0 60px;}
#personagem .bt_menino:hover, #personagem .bt_menino.selecionado{background: url(../images/menino.jpg) no-repeat;}
#personagem input[type="text"]{width: 380px; padding: 10px; font-size: 20px; color: #666; position: absolute; border: 2px #5D3413 solid; top:50%; left:50%; margin: 150px 0 0 -200px; text-align: center;}
#personagem .bt_avancar{background: url(../images/bt_avancar_personagem.png) no-repeat; width: 208px; height: 74px; top: 86%; right: 2%; position: absolute;}











