<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Receita de Bolo :: Home</title>

	<!-- Responsive Web Design -->
	<meta name="viewport" content="width = device-width" />

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" media="all">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layout.css" media="all">
</head>

<body id="{% block body_id %}{% endblock %}">
	{% block game %}{% endblock %}
</body>
</html>