{% extends 'base.html' %}
{% block title %} Fase #1{% endblock %}
{% block body_id %}fase{% endblock %}


{% block js %}
	<script src="{{ STATIC_URL }}js/dragdrop.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% block game %}
	<div class="box_info">
		<header>
			<ul>
				<li>
					<img src="{{ STATIC_URL }}images/icon_bolo_chocolate.jpg"><br/>
					0
				</li>
				<li>
					<img src="{{ STATIC_URL }}images/icon_bolo_morango.jpg"><br/>
					0
				</li>
			</ul>
		</header>
		<div class="balao"></div>
		<footer>
			<img src="{{ STATIC_URL }}images/{{ avatar }}.jpg">
		</footer>
	</div>

	<div class="box_comandos">
		<figure>
			<img src="{{ STATIC_URL }}images/bt_bolo_chocolate.jpg" id="bt_bolo_chocolate" alt="Bolo de Chocolate" width="245" height="38" draggable="true" ondragstart="drag(event)">
		</figure>

		<figure>
			<img src="{{ STATIC_URL }}images/bt_bolo_morango.jpg" id="bt_bolo_morango" alt="Bolo de Morango" width="245" height="38" draggable="true" ondragstart="drag(event)">
		</figure>

		<figure>
			<img src="{{ STATIC_URL }}images/icon_for.png" id="bt_for" width="245" alt="For" height="78" draggable="true" ondragstart="drag(event)">
		</figure>
		
		<figure>
			<img src="{{ STATIC_URL }}images/icon_while.png" id="bt_while" alt="While" width="245" height="78" draggable="true" ondragstart="drag(event)">
		</figure>
		
		<figure>
			<img src="{{ STATIC_URL }}images/icon_if.png" id="bt_if" alt="If Else" width="245" height="118" draggable="true" ondragstart="drag(event)">
		</figure>
	</div>

	<div class="box_execucao" id="box_execucao">
		<a href="" id="bt_interrogacao"></a>
		<div id="cx_codigo" class="cx_codigo" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
		<a href="" id="bt_estrela"></a>
	</div>
{% endblock %}