{% extends 'base.html' %}
{% block title %} Fase #1{% endblock %}
{% block body_id %}fase{% endblock %}


{% block js %}
	<script src="{{ STATIC_URL }}js/dragdrop.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}js/chat.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}js/ajuda.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}js/executar.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% block game %}
	<div class="box_info">
		<header id="placar_bolos">
			<ul>
				<li>
					<img src="{{ STATIC_URL }}images/icon_bolo_chocolate.jpg"><br/>
					<span id="tchocolate">0</span>
				</li>
				<li style="display:none;">
					<img src="{{ STATIC_URL }}images/icon_bolo_morango.jpg"><br/>
					<span id="tmorango">0</span>
				</li>
			</ul>
		</header>
		<div id="balao" class="balao">
			<a href="javascript:repetir(1,13);" class="bt_repetir" id="bt_repetir">Repetir</a>

			<article id="chat1" style="display: block;">
				<p style="margin: 80px 0 0 0;">Olá {{ jogador.nome }}!</p>
				<a href="javascript:chat(2);" style="margin: 5px 0 0 95px;">Oi!</a>
			</article>
			<article id="chat2">
				<p style="margin: 50px 0 0 0;">Eu me chamo</p>
				<p>{{ ajudante }} e irei te</p>
				<p>ajudar durante o jogo.</p>
				<a href="javascript:chat(3);" style="margin: 5px 0 0 95px;">Ok</a>
			</article>
			<article id="chat3">
				<p style="margin: 55px 0 0 0;">Você vai aprender</p>
				<p style="margin: 0 10px 0 0;">programação brincando</p>
				<p>de fazer bolos!</p>
				<a href="javascript:chat(4);" style="margin: 5px 0 0 65px;">Hum, legal!</a>
			</article>
			<article id="chat4">
				<p style="margin: 40px 0 0 0;">Mas antes de</p>
				<p>começarmos, irei te</p>
				<p style="margin: 0 5px 0 0;">apresentar como o</p>
				<p>jogo funciona.</p>
				<a href="javascript:chat(5,'placar');" style="margin: 5px 0 0 95px;">Ok</a>
			</article>
			<article id="chat5">
				<p style="margin: 30px 0 0 0;">Este quadrado</p>
				<p>mostra a</p>
				<p style="margin: 0 5px 0 0;">quantidade e os tipos</p>
				<p>de bolos que você já</p>
				<p>fez na fase.</p>
				<a href="javascript:chat(6);" style="margin: 5px 0 0 75px;">Entendi</a>
			</article>
			<article id="chat6">
				<p style="margin: 40px 0 0 0;">Para passar de</p>
				<p>fase você terá</p>
				<p style="margin: 0 5px 0 0;">que fazer todos os</p>
				<p>bolos dos pedidos.</p>
				<a href="javascript:chat(7,'comandos');" style="margin: 5px 0 0 55px;">Deixa comigo</a>
			</article>
			<article id="chat7">
				<p style="margin: 30px 0 0 0;">Nesta caixa</p>
				<p>grande estão os</p>
				<p>blocos de comandos</p>
				<p style="margin: 0 5px 0 0;">que você vai usar para</p>
				<p style="margin: 0 5px 0 0;">fazer os bolos.</p>
				<a href="javascript:chat(8,'escopo');" style="margin: 5px 0 0 75px;">Entendi</a>
			</article>
			<article id="chat8">
				<p style="margin: 50px 0 0 0;">Você deve arrastar</p>
				<p>os blocos para dentro</p>
				<p>desta área, chamada</p>
				<p style="margin: 0 8px 0 0;">de Escopo.</p>
				<a href="javascript:chat(9);" style="margin: 5px 0 0 95px;">Ok</a>
			</article>
			<article id="chat9">
				<p style="margin: 50px 0 0 0;">Lembrando que os</p>
				<p>blocos devem estar</p>
				<p>na ordem certa para</p>
				<p style="margin: 0 8px 0 0;">passar de fase.</p>
				<a href="javascript:chat(10,'estrela');" style="margin: 5px 0 0 75px;">Entendi</a>
			</article>
			<article id="chat10">
				<p style="margin: 50px 0 0 0;">Clique neste botão</p>
				<p>para verificar se</p>
				<p>os seus blocos do</p>
				<p><span>escopo</span> estão certos.</p>
				<a href="javascript:chat(11);" style="margin: 5px 0 0 75px;">E depois?</a>
			</article>
			<article id="chat11">
				<p style="margin: 45px 0 0 0;">Se seus blocos</p>
				<p style="margin: 0 7px 0 0;">estiverem na ordem</p>
				<p>certa você passará</p>
				<p>para a próxima fase.</p>
				<a href="javascript:chat(12,'ajuda');" style="margin: 5px 0 0 85px;">Uhu</a>
			</article>
			<article id="chat12">
				<p style="margin: 40px 0 0 0;">Só mais um</p>
				<p>detalhe, este é o</p>
				<p>botão de ajuda. Use</p>
				<p>quando necessário.</p>
				<a href="javascript:chat(13,'final1');" style="margin: 5px 0 0 80px;">Certo</a>
			</article>
			<article id="chat13">
				<p style="margin: 55px 0 0 0;">Vamos começar!</p>
				<p>Pedido da fase #1:</p>
				<p><span>Fazer 1 bolo de</span></p>
				<p><span>chocolate.</span></p>
			</article>
		</div>
		<div id="balao_pedido" class="balao_pedido"></div>
		<footer>
			<img src="{{ STATIC_URL }}images/{{ jogador.avatar }}.jpg">
		</footer>
	</div>

	<div class="box_comandos" id="box_comandos">
		<figure>
			<img src="{{ STATIC_URL }}images/bt_bolo_chocolate.jpg" id="bt_bolo_chocolate" alt="Bolo de Chocolate" width="245" height="38">
		</figure>
	</div>

	<div class="box_execucao" id="box_execucao">
		<a href="javascript:ajuda(1);" id="bt_interrogacao" onmouseover="ajudaOver(this);" onmouseout="ajudaOut(this);"></a>
		<ul id="escopo" class="escopo">
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
		</ul>
		<a href="javascript:executar(1);" id="bt_estrela">Executar</a>
	</div>

	<div class="bg_sucesso" id="bg_sucesso"></div>
	<div class="box_sucesso" id="box_sucesso">
		<h1>Parabéns você concluiu a fase #1</h1>
		<h2>Veja como poderia ser o seu código em uma linguagem de programação:</h2>
		<div class="code">
			<p>fazerBoloChocolate();</p>
		</div>
		<a href="{% url fase 2 %}">Próxima fase</a>
	</div>

	<div class="bg_erro" id="bg_erro"></div>
	<div class="box_erro" id="box_erro">
		<p>Infelizmente seu código está errado.</p>
		<p>Mas não desanime, tente novamente.</p>
		<a href="javascript:fechar_erro();">Tentar outra vez</a>
	</div>

	<div class="bg_aviso" id="bg_aviso"></div>
	<div class="box_aviso" id="box_aviso">
		<p>Todos os blocos de ações deverão ser usados.</p>
		<p>Arraste-os para o escopo:</p>
		<img src="{{ STATIC_URL }}images/ex_arrastar.jpg">
		<a href="javascript:fechar_aviso();">Voltar</a>
	</div>
{% endblock %}