{% extends 'base.html' %}
{% block title %} Fase #6{% endblock %}
{% block body_id %}fase{% endblock %}


{% block js %}
	<script src="{{ STATIC_URL }}js/dragdrop.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}js/chat.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}js/ajuda.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}js/executar.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% block game %}
	<div class="box_info">
		<header>
			<ul>
				<li>
					<img src="{{ STATIC_URL }}images/icon_bolo_chocolate.jpg"><br/>
					<span id="tchocolate">0</span>
				</li>
				<li>
					<img src="{{ STATIC_URL }}images/icon_bolo_morango.jpg"><br/>
					<span id="tmorango">0</span>
				</li>
			</ul>
		</header>
		<div id="balao" class="balao">

			<article id="chat1" style="display: block;">
				<p style="margin: 55px 0 0 0;">Nossa produtividade</p>
				<p style="margin: 0 5px 0 0;">está aumentando, isso</p>
				<p>é muito bom.</p>
				<a href="javascript:chat(2);" style="margin: 5px 0 0 85px;">Legal</a>
			</article>
			<article id="chat2" style="display: none;">
				<p style="margin: 35px 0 0 0;">Temos um grande</p>
				<p>pedido desta vez.</p>
				<p>Pedido da fase #6:</p>
				<p><span>Fazer cinco bolos de</span></p>
				<p><span>chocolate e cinco</span></p>
				<p><span>de morango.</span></p>
			</article>
		</div>
		<div id="balao_pedido" class="balao_pedido"></div>
		<footer>
			<img src="{{ STATIC_URL }}images/{{ jogador.avatar }}.jpg">
		</footer>
	</div>

	<div class="box_comandos" id="box_comandos">
		<figure>
			<img src="{{ STATIC_URL }}images/bt_bolo_chocolate.jpg" id="bt_bolo_chocolate" alt="Bolo de Chocolate" width="245" height="38">
		</figure>

		<figure>
			<img src="{{ STATIC_URL }}images/bt_bolo_morango.jpg" id="bt_bolo_morango" alt="Bolo de Morango" width="245" height="38">
		</figure>

		<figure>
			<input type="text" class="input_for" value="0" id="qloop" />
			<img src="{{ STATIC_URL }}images/bt_for.jpg" id="bt_for" width="245" alt="For" height="38">
		</figure>
	</div>

	<div class="box_execucao">
		<a href="" id="bt_interrogacao" onmouseover="ajudaOver(this);" onmouseout="ajudaOut(this);"></a>
		<ul id="escopo" class="escopo">
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
		</ul>
		<a href="javascript:executar(6);" id="bt_estrela">Executar</a>
	</div>

	<div class="bg_sucesso" id="bg_sucesso"></div>
	<div class="box_sucesso" id="box_sucesso">
		<h1>Parabéns você concluiu a fase #6</h1>
		<h2>Veja como poderia ser o seu código em uma linguagem de programação:</h2>
		<div class="code">
			<p>for (contador = 0 ; contador < 5 ; contador++ ){</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fazerBoloChocolate();</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fazerBoloMorango();</p>
			<p>}</p>
		</div>
		<a href="{% url fase 7 %}">Próxima fase</a>
	</div>

	<div class="bg_erro" id="bg_erro"></div>
	<div class="box_erro" id="box_erro">
		<p>Infelizmente seu código está errado.</p>
		<p>Mas não desanime, tente novamente.</p>
		<a href="javascript:fechar_erro();">Tentar outra vez</a>
	</div>

	<div class="bg_aviso" id="bg_aviso"></div>
	<div class="box_aviso" id="box_aviso">
		<p>Todos os blocos de ações deverão ser usados.</p>
		<p>Arraste-os para o escopo:</p>
		<img src="{{ STATIC_URL }}images/ex_arrastar.jpg">
		<a href="javascript:fechar_aviso();">Voltar</a>
	</div>
{% endblock %}