{% extends 'base.html' %}
{% block title %} Fase #11{% endblock %}
{% block body_id %}fase{% endblock %}


{% block js %}
	<script src="{{ STATIC_URL }}js/dragdrop.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}js/chat.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}js/ajuda.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}js/executar.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% block game %}
	<div class="box_info">
		<header>
			<ul>
				<li>
					<img src="{{ STATIC_URL }}images/icon_bolo_chocolate.jpg"><br/>
					<span id="tchocolate">0</span>
				</li>
				<li>
					<img src="{{ STATIC_URL }}images/icon_bolo_morango.jpg"><br/>
					<span id="tmorango">0</span>
				</li>
			</ul>
		</header>
		<div id="balao" class="balao">
			<a href="javascript:repetir(1,5);" class="bt_repetir" id="bt_repetir">Repetir</a>

			<article id="chat1" style="display: block;">
				<p style="margin: 45px 5px 0 0;">Chegamos na</p>
				<p>última fase! Agora</p>
				<p>vamos usar tudo</p>
				<p>que aprendemos.</p>
				<a href="javascript:chat(2);" style="margin: 5px 0 0 95px;">Ok</a>
			</article>
			<article id="chat2" style="display: none;">
				<p style="margin: 35px 0 0 0;">Nesta última</p>
				<p>fase você terá que</p>
				<p>fazer os bolos sem</p>
				<p style="margin: 0 10px 0 0;">saber nada dos pedidos.</p>
				<a href="javascript:chat(3);" style="margin: 5px 0 0 55px;">Como assim?</a>
			</article>
			<article id="chat3" style="display: none;">
				<p style="margin: 40px 0 0 0;">Você não saberá</p>
				<p>nem o sabor, nem a</p>
				<p>quantidade de bolos</p>
				<p>que serão feitos.</p>
				<a href="javascript:chat(4);" style="margin: 5px 0 0 90px;">Hum</a>
			</article>
			<article id="chat4" style="display: none;">
				<p style="margin: 50px 0 0 0;">Você está</p>
				<p>pronto para o</p>
				<p>Desafio Final?</p>
				<a href="javascript:chat(5,'final');" style="margin: 5px 0 0 95px;">Sim!</a>
			</article>
			<article id="chat5" style="display: none;">
				<p style="margin: 40px 0 0 0;">Então vamos lá!</p>
				<p>Desafio Final:</p>
				<p><span>Enquanto houver</span></p>
				<p><span>pedidos faça o sabor</span></p>
				<p><span>de bolo pedido.</span></p>
			</article>
		</div>
		<div id="balao_pedido" class="balao_pedido"></div>
		<footer>
			<img src="{{ STATIC_URL }}images/{{ jogador.avatar }}.jpg">
		</footer>
	</div>

	<div class="box_comandos" id="box_comandos">
		<figure>
			<img src="{{ STATIC_URL }}images/bt_bolo_chocolate.jpg" id="bt_bolo_chocolate" alt="Bolo de Chocolate" width="245" height="38">
		</figure>

		<figure>
			<img src="{{ STATIC_URL }}images/bt_bolo_morango.jpg" id="bt_bolo_morango" alt="Bolo de Morango" width="245" height="38">
		</figure>

		<figure>
			<img src="{{ STATIC_URL }}images/bt_while.jpg" id="bt_while" alt="While" width="245" height="38">
		</figure>

		<figure>
			<select class="select_if" id="verificar">
				<option value="chocolate">Bolo de Chocolate</option>\
				<option value="morango">Bolo de Morango</option>
			</select>
			<img src="{{ STATIC_URL }}images/bt_if.jpg" id="bt_if" alt="If" width="245" height="38">
		</figure>

		<figure>
			<img src="{{ STATIC_URL }}images/bt_else.jpg" id="bt_else" alt="Else" width="105" height="38">
		</figure>
	</div>

	<div class="box_execucao">
		<a href="" id="bt_interrogacao" onmouseover="ajudaOver(this);" onmouseout="ajudaOut(this);"></a>
		<ul id="escopo" class="escopo">
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
		</ul>
		<a href="javascript:executar(11);" id="bt_estrela">Executar</a>
	</div>

	<div class="bg_sucesso" id="bg_sucesso"></div>
	<div class="box_sucesso" id="box_sucesso">
		<h1>Parabéns você concluiu o Desafio Final</h1>
		<h2>Veja como poderia ser o seu código em uma linguagem de programação:</h2>
		<div class="code">
			<p>while ( existirPedido() ){</p>
			<p>&nbsp;&nbsp;&nbsp;if ( pedidoChocolate() ){</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fazerBoloChocolate();</p>
			<p>&nbsp;&nbsp;&nbsp;} else {</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fazerBoloMorango();</p>
			<p>&nbsp;&nbsp;&nbsp;}</p>
			<p>}</p>
		</div>
		<a href="{% url final %}">Fim do jogo</a>
	</div>

	<div class="bg_erro" id="bg_erro"></div>
	<div class="box_erro" id="box_erro">
		<p>Infelizmente seu código está errado.</p>
		<p>Mas não desanime, tente novamente.</p>
		<a href="javascript:fechar_erro();">Tentar outra vez</a>
	</div>

	<div class="bg_aviso" id="bg_aviso"></div>
	<div class="box_aviso" id="box_aviso">
		<p>Todos os blocos de ações deverão ser usados.</p>
		<p>Arraste-os para o escopo:</p>
		<img src="{{ STATIC_URL }}images/ex_arrastar.jpg">
		<a href="javascript:fechar_aviso();">Voltar</a>
	</div>
{% endblock %}