{% extends 'base.html' %}
{% block title %} Fase #9{% endblock %}
{% block body_id %}fase{% endblock %}


{% block js %}
	<script src="{{ STATIC_URL }}js/dragdrop.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}js/chat.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}js/ajuda.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}js/executar.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% block game %}
	<div class="box_info">
		<header>
			<ul>
				<li>
					<img src="{{ STATIC_URL }}images/icon_bolo_chocolate.jpg"><br/>
					<span id="tchocolate">0</span>
				</li>
				<li>
					<img src="{{ STATIC_URL }}images/icon_bolo_morango.jpg"><br/>
					<span id="tmorango">0</span>
				</li>
			</ul>
		</header>
		<div id="balao" class="balao">
			<a href="javascript:repetir(1,7);" class="bt_repetir" id="bt_repetir">Repetir</a>

			<article id="chat1" style="display: block;">
				<p style="margin: 60px 0 0 0;">Estamos indo muito</p>
				<p>bem, parabéns!</p>
				<a href="javascript:chat(2);" style="margin: 5px 0 0 60px;">Obrigado(a)</a>
			</article>
			<article id="chat2" style="display: none;">
				<p style="margin: 40px 0 0 0;">Temos um cliente</p>
				<p>em dúvida sobre</p>
				<p>os sabores. Vamos</p>
				<p>tentar resolver isto?</p>
				<a href="javascript:chat(3);" style="margin: 5px 0 0 82px;">Vamos</a>
			</article>
			<article id="chat3" style="display: none;">
				<p style="margin: 40px 0 0 0;">O cliente vai te</p>
				<p>dizer a quantidade</p>
				<p>de bolos que ele</p>
				<p>quer, porém ...</p>
				<a href="javascript:chat(4);" style="margin: 5px 0 0 82px;">Hum ...</a>
			</article>
			<article id="chat4" style="display: none;">
				<p style="margin: 25px 0 0 0;">Porém ele não</p>
				<p>vai dizer o sabor,</p>
				<p>pois está em dúvida.</p>
				<p>Então você usará</p>
				<p>condições.</p>
				<a href="javascript:chat(5,'novo_botao_if_else');" style="margin: 5px 0 0 50px;">Como assim?</a>
			</article>
			<article id="chat5" style="display: none;">
				<p style="margin: 45px 0 0 0;">Se ele pedir um</p>
				<p>bolo de chocolate</p>
				<p>você fará um bolo</p>
				<p>de chocolate.</p>
				<a href="javascript:chat(6);" style="margin: 5px 0 0 75px;">Senão ...</a>
			</article>
			<article id="chat6" style="display: none;">
				<p style="margin: 65px 0 0 0;">Senão, você fará</p>
				<p>um bolo de morango.</p>
				<a href="javascript:chat(7,'final');" style="margin: 5px 0 0 60px;">Vou tentar</a>
			</article>
			<article id="chat7" style="display: none;">
				<p style="margin: 30px 0 0 0;">Objetivo fase #9:</p>
				<p><span>Se o cliente pedir</span></p>
				<p style="margin: 0 5px 0 0;"><span>bolo de chocolate faça</span></p>
				<p><span>1 bolo de chocolate,</span></p>
				<p><span>senão, faça 1 bolo</span></p>
				<p><span>de morango.</span></p>
			</article>
		</div>
		<div id="balao_pedido" class="balao_pedido"></div>
		<footer>
			<img src="{{ STATIC_URL }}images/{{ jogador.avatar }}.jpg">
		</footer>
	</div>

	<div class="box_comandos" id="box_comandos">
		<figure>
			<img src="{{ STATIC_URL }}images/bt_bolo_chocolate.jpg" id="bt_bolo_chocolate" alt="Bolo de Chocolate" width="245" height="38">
		</figure>

		<figure>
			<img src="{{ STATIC_URL }}images/bt_bolo_morango.jpg" id="bt_bolo_morango" alt="Bolo de Morango" width="245" height="38">
		</figure>

		<figure id="novo_botao_if" style="display:none;">
			<select class="select_if" id="verificar">
				<option value="chocolate">Bolo de Chocolate</option>\
				<option value="morango">Bolo de Morango</option>
			</select>
			<img src="{{ STATIC_URL }}images/bt_if.jpg" id="bt_if" alt="If" width="245" height="38">
		</figure>

		<figure id="novo_botao_else" style="display:none;">
			<img src="{{ STATIC_URL }}images/bt_else.jpg" id="bt_else" alt="Else" width="105" height="38">
		</figure>
	</div>

	<div class="box_execucao">
		<a href="javascript:;" onclick="ajuda(9)" id="bt_interrogacao" onmouseover="ajudaOver(this);" onmouseout="ajudaOut(this);"></a>
		<ul id="escopo" class="escopo">
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
			<li style="padding-left:0;"></li>
		</ul>
		<a href="javascript:;" onclick="executar(9)" id="bt_estrela">Executar</a>
	</div>

	<div class="bg_sucesso" id="bg_sucesso"></div>
	<div class="box_sucesso" id="box_sucesso">
		<h1>Parabéns você concluiu a fase #9</h1>
		<h2>Veja como poderia ser o seu código em uma linguagem de programação:</h2>
		<div class="code">
			<p>if ( pedidoChocolate() ){</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fazerBoloChocolate();</p>
			<p>} else {</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fazerBoloMorango();</p>
		</div>
		<a href="{% url fase 10 %}">Próxima fase</a>
	</div>

	<div class="bg_erro" id="bg_erro"></div>
	<div class="box_erro" id="box_erro">
		<p>Infelizmente seu código está errado.</p>
		<p>Mas não desanime, tente novamente.</p>
		<a href="javascript:fechar_erro();">Tentar outra vez</a>
	</div>

	<div class="bg_aviso" id="bg_aviso"></div>
	<div class="box_aviso" id="box_aviso">
		<p>Todos os blocos de ações deverão ser usados.</p>
		<p>Arraste-os para o escopo:</p>
		<img src="{{ STATIC_URL }}images/ex_arrastar.jpg">
		<a href="javascript:fechar_aviso();">Voltar</a>
	</div>
{% endblock %}