{% extends 'base.html' %}
{% block title %} Tela Final{% endblock %}
{% block body_id %}final{% endblock %}


{% block js %}{% endblock %}


{% block game %}
	<p class="parabens botao">Parabéns!</p>
	<p class="frase_final botao">Agora você é um programador de mão cheia.</p>
	<div class="animate_area"></div>
	<img class="logo" src="{{ STATIC_URL }}images/logo_capa.png">
	<a href="{% url home %}" class="bt_inicio">« Voltar para o início</a>
	<p class="agradecimento">Agredecemos sua participação e esperamos que você tenha aproveitado o jogo.</p>
{% endblock %}