{% extends 'base.html' %}
{% block title %} Criação do Personagem{% endblock %}
{% block body_id %}personagem{% endblock %}


{% block js %}
	<script src="{{ STATIC_URL }}js/personagem.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% block game %}
	<div class="box_game">
		<div class="animate_area"></div>
		
		<div class="escolha_ajudante"></div>
		<a href="javascript:selecionar('menina','menino');" class="bt_menina botao" id="menina">Menina</a>
		<a href="javascript:selecionar('menino','menina');" class="bt_menino botao" id="menino">Menino</a>
		<input type="hidden" id="id_avatar" value="" />
		
		<input type="text" maxlength="15" placeholder="Digite seu nome" id="id_player" />

		<a href="javascript:link('{% url fase 1 %}');" class="bt_avancar botao">Avançar</a>
	</div>
{% endblock %}